[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-django = "*"

[packages]
django = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-environ = "*"
gunicorn = "*"
whitenoise = "*"
requests = "*"
django-cors-headers = "*"
django-subdomains = "*"
pillow = "*"
djangorestframework = "*"
django-hosts = "*"

[requires]
python_version = "3.7"
