{% extends 'flashcards_app/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>Card Update</h1>
        <div class="jumbotron">
            <h1 class="display-4">Updating card from {{ card.deck.name }}</h1>
            <hr class="my-4">
            <form action="" method="post">{% csrf_token %}
                <div class="form-row">
                    {{ form.deck|as_crispy_field }}
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.front|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.back|as_crispy_field }}
                    </div>
                </div>
            <button class="btn btn-primary" type="submit">Update</button>
            </form>
        </div>

{% endblock content %}